* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #141414;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  height: 68px;
  padding: 0;
}

#brand {
  font-size: 2.5rem;
  font-weight: bold;
  color: #E50914;
}
